$color-yellow: #FFDA55;
$color-yellow-60: mix($color-yellow, #fff, 60%);
$color-yellow-40: mix($color-yellow, #fff, 40%);
$color-yellow-20: mix($color-yellow, #fff, 20%);
$color-yellow-10: mix($color-yellow, #fff, 10%);
$color-white: #FFF;
$color-blue: #1E2B99;
$color-blue-60: mix($color-blue, #fff, 60%);
$color-blue-40: mix($color-blue, #fff, 40%);
$color-blue-20: mix($color-blue, #fff, 20%);
$color-blue-10: mix($color-blue, #fff, 10%);
$color-blue-010: #1E2B991A;
$color-blue-06: mix($color-blue, #fff, 6%);
$color-blue-006: rgba(30, 43, 153, 0.06);
$color-blue-05: mix($color-blue, #fff, 5%);
$color-black: #0F1441;
$color-black-60: mix($color-black, #fff, 60%);
$color-black-40: mix($color-black, #fff, 40%);
$color-black-20: mix($color-black, #fff, 20%);
$color-black-10: mix($color-black, #fff, 10%);
$color-red: #FF652D;
$color-red-60: mix($color-red, #fff, 60%);
$color-red-40: mix($color-red, #fff, 40%);
$color-red-20: mix($color-red, #fff, 20%);
$color-red-10: mix($color-red, #fff, 10%);
$color-green: #429827;
$color-green-60: mix($color-green, #fff, 60%);
$color-green-40: mix($color-green, #fff, 40%);
$color-green-20: mix($color-green, #fff, 20%);
$color-green-10: mix($color-green, #fff, 10%);
$color-green-06: mix($color-green, #fff, 6%);
$color-orange: #FFA800;

$color-gradient-primary: linear-gradient(121.42deg, #FFDA55 18.96%, #EC9F0B 89.2%);
$color-gradient-primary-hover:linear-gradient(121.42deg, #FFBC2B 18.96%, #EC9C00 89.2%);
$color-gradient-primary-active: linear-gradient(121.42deg, #FFCD18 18.96%, #F89500 89.2%);

$color-error: $color-red;
$color-error-border: $color-red-40;
$color-error-background: #fff3e7;
$color-success: $color-green;
$color-warning: $color-orange;
