extends ../../layouts/base.pug

block variables
    - var title = "Account Credential Change Confirmation"
    - var illustrationUrl = `${imageBucketUrl}/illustration1.png`

block content
    p Thank you for using My Client Reviews.
    br 
    p To complete the Change Credentials process, please click on the link below to confirm changes.
    .center-block(style="margin-top: 80px;")
        a.button(href=url) Change Credentials
