extends ../../layouts/base.pug

block variables
    - var title = "3 Month Free Trial Ending"
    - var illustrationUrl = `${imageBucketUrl}/illustration5.png`

block content
    p Dear  #{name},
    br
    p Your Unlimited Usage Free Trial is due to expire on #{expiryDate}.
    br
    p If you have found that partnering with MyClientReviews has added value to your business, then please go to the myclientreviews.com.au website, log in and enter your card details. This will ensure that you will be able to continue to send out invitations, receive reviews from your customers, respond to reviews and publish reviews on your website.
    br
    p We are constantly working to develop a better customer experience for your business. If you have any suggestions on how we can improve MyClientReviews, we would love to receive your feedback by clicking on the button below.
    br
    p If you feel that this service was not appropriate for your needs, we will continue to display the reviews that have already been posted by your customers.
